<html>

<header>
    <title>#{title}</title>
    <script type="text/javascript" src="/webjars/jquery/3.3.1/jquery.min.js" ></script>
</header>
<body>
<table>
<tr>
    <th>编号</th>
    <th>姓名</th>
    <th>年龄</th>
    <th>性别</th>
</tr>
</table>

</body>
</html>